.building-container{
    padding: 2rem;
}

.building {
    border-width: 2px;
    border-bottom-width: 1px;
    border-color: black;
    border-style: outset;
    position: relative;
    background-color: #303030;
}
