@using Microsoft.CodeAnalysis

@if (Diagnostics.Any())
{

    <div class="diag-container">
        <div class="diag-header">
            Diagnostics
        </div>
        <div class="diag-body">
            <table>
                <tbody>
                    @for (int i = 0; i < Diagnostics.Count; i++)
                    {
                        <tr>
                            <td>
                                <span class="line-number-cell">
                                    @(i + 1)
                                </span>
                            </td>
                            <td>@(Diagnostics[i])</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@code {
    [Parameter, EditorRequired]
    public IReadOnlyList<Diagnostic> Diagnostics { get; set; } = null!;
}
